.normal-list {
  & .normal-item {
    & .title {
      font-size: 0.75rem;
      color: var(--el-text-color-regular);
    }
    & .content {
      font-size: 0.875rem;
      margin: 0.25rem 0;
    }
    &:not(:last-of-type){
      margin-bottom: 0.625rem;
    }
  }
  &.normal-list--indent {
    & .normal-item {
      & .content {
        padding-left: 0.625rem;
        line-height: 1.5;
      }
    }
  }
}

.input-button-combine-bar {
  display: grid;
  grid-template-columns: 1fr 4rem;
  & .el-input__wrapper {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  & .el-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* OD Backstage Form */
.od-bs-form {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  & .el-form-item {
    @media screen and (width <= 768px) {
      display: block;
    }
  }
  & .el-radio-group {
    width: 100%;
  }
}