html {
  font-family: var(--font-family);
  line-height: 1.5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: 100%;
  background-color: var(--wrapper-bg);
  word-break: break-word;
}

main {
  flex: 1 0 auto;
  padding: 2rem 0.625rem 4rem;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  
}

.page--2cols {
  display: grid;
  gap: 1rem;
  min-height: 0;  /* NEW */
  min-width: 0;   /* NEW; needed for Firefox */
  &.page--2cols-left {
    grid-template-columns: minmax(0, 1fr) max(214px);
  }
  &.page--2cols-right {
    grid-template-columns: max(214px) minmax(0, 1fr);
  }
  @media screen and (width <= 960px) {
    grid-template-columns: 1fr!important;
  }
}

.page-cols {
  overflow: hidden;  /* NEW */
  min-width: 0;      /* NEW; needed for Firefox */
}