:root {
  --color-secondary: #f5a623;

  --wrapper-bg: #f6f6f6;
  --font-family: 'Noto Sans TC', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
